### Proyecto Programación Avanzada: 
## Práctica 1, EDA eucaliptos en Cantabria

En esta práctica vamos a realizar un análisis exploratorio de datos para el género de eucaliptos, debido a que son una especie invasora en la península.

Primero, solucionamos el problema con la librería PROJ y GDAL

In [5]:
import os
import getpass

usuario = getpass.getuser()

# os.environ['GDAL_DATA'] = f'/opt/anaconda3/envs/geoenv/share/gdal'
# os.environ['PROJ_LIB'] = f'/opt/anaconda3/envs/geoenv/share'

# en windows
os.environ['GDAL_DATA'] = f'C:\\Users\\{usuario}\\anaconda3\\envs\\advprog12\\Library\\share\\gdal'
os.environ['PROJ_LIB'] = f'C:\\Users\\{usuario}\\anaconda3\\envs\\advprog12\\Library\\share\\proj'

segundo, importamos los geodatos necesarios

In [55]:
import sys

sys.argv[1] = "C:\\Users\\angel\\Documents\\Programacion_avanzada\\practicas\\Geodatos\\" #Ángel

euc_points = sys.argv[1] + "eucaliptos_españa_puntos\\eucalyptus_points.csv"
euc_mfe = sys.argv[1] + "Eucaliptales_Cornisa_Cantabrica\\Eucaliptales_Cornisa_Cantabrica.shp"

Ahora, vamos a empezar a tratar los datos, primero, hemos descargado de GBIF datos puntuales para toda España, vamos a tratarlos y luego los convertiremos en un geodato gracias a los datos de latitud y longitud.

In [31]:
import pandas as pd
import geopandas as gpd
import numpy as np
import xarray
import shapely

eucpoints_tabla = pd.read_table(euc_points)

C:\Users\angel\AppData\Local\Temp\ipykernel_12116\593149200.py:6: DtypeWarning: Columns (10,14,16,17,29,39,40,41,43,44,46,48) have mixed types. Specify dtype option on import or set low_memory=False.
  eucpoints_tabla = pd.read_table(euc_points)

Esto nos indica que la tabla tiene "mixed types", por lo cual, da problemas. Vamos a solucionarlo

In [32]:
eucpoints_tabla = pd.read_table(euc_points, low_memory=False)
print(puntos_tabla.dtypes)

gbifID                                int64
datasetKey                           object
occurrenceID                         object
kingdom                              object
phylum                               object
class                                object
order                                object
family                               object
genus                                object
species                              object
infraspecificEpithet                 object
taxonRank                            object
scientificName                       object
verbatimScientificName               object
verbatimScientificNameAuthorship     object
countryCode                          object
locality                             object
stateProvince                        object
occurrenceStatus                     object
individualCount                     float64
publishingOrgKey                     object
decimalLatitude                     float64
decimalLongitude                    float64
coordinateUncertaintyInMeters       float64
coordinatePrecision                 float64
elevation                           float64
elevationAccuracy                   float64
depth                               float64
depthAccuracy                       float64
eventDate                            object
day                                 float64
month                               float64
year                                float64
taxonKey                              int64
speciesKey                          float64
basisOfRecord                        object
institutionCode                      object
collectionCode                       object
catalogNumber                        object
recordNumber                         object
identifiedBy                         object
dateIdentified                       object
license                              object
rightsHolder                         object
recordedBy                           object
typeStatus                          float64
establishmentMeans                   object
lastInterpreted                      object
mediaType                            object
issue                                object
dtype: object

Aquellas con el tipo "object" son las que representan tipos mixtos que dan problema, vamos a ver cuáles nos hacen falta y cuales podemos eliminar

In [49]:
eucpoints_tabla = eucpoints_tabla.drop(columns=["datasetkey", "occurrenceID", "infraspecificEpithet",
                                             "taxonRank", "scientificName", "verbatimScientificName", 
                                             "verbatimScientificNameAuthorship", "publishingOrgKey", 
                                             "eventDate", "basisOfRecord", "institutionCode", "collectionCode", 
                                             "catalogNumber", "recordNumber", "identifiedBy", "dateIdentified", 
                                             "license", "rightsHolder", "recordedBy", "establishmentMeans", 
                                             "mediaType", "issue", "locality", "typeStatus", "stateProvince", 
                                                "occurrenceStatus", "gbifID", "kingdom", "phylum", "class", "order", 
                                               "countryCode", "individualCount", "family", "elevationAccuracy", "depth",
                                               "lastInterpreted", "taxonKey", "speciesKey", "coordinateUncertaintyInMeters", 
                                               "coordinatePrecision", "depthAccuracy", "day", "month", "year"], errors="ignore")
eucpoints_tabla

,genus,species,decimalLatitude,decimalLongitude,elevation
0,Eucalyptus,NaN,NaN,NaN,NaN
1,Eucalyptus,Eucalyptus globulus,43.516539,-5.270636,157.00
2,Eucalyptus,Eucalyptus globulus,42.567851,-8.873670,80.38
3,Eucalyptus,Eucalyptus globulus,42.928194,-8.113348,489.00
4,Eucalyptus,Eucalyptus globulus,42.889623,-8.571294,393.00
...,...,...,...,...,...
178943,Eucalyptus,Eucalyptus reducta,NaN,NaN,NaN
178944,Eucalyptus,Eucalyptus globulus,39.779999,2.700000,1.00
178945,Eucalyptus,Eucalyptus globulus,39.770000,2.700000,1.00
178946,Eucalyptus,Eucalyptus globulus,NaN,NaN,NaN
178947,Eucalyptus,Eucalyptus globulus,42.040000,-1.510000,NaN

Ahora vamos a eliminar aquellas que tengan vacía algunas de las coordenadas vacías

In [51]:
eucpoints_tabla["decimalLatitude"] = eucpoints_tabla["decimalLatitude"].replace("", np.nan)
eucpoints_tabla["decimalLongitude"] = eucpoints_tabla["decimalLongitude"].replace("", np.nan)

eucpoints_tabla = eucpoints_tabla.dropna(subset=["decimalLatitude", "decimalLongitude"])

eucpoints_tabla

,genus,species,decimalLatitude,decimalLongitude,elevation
1,Eucalyptus,Eucalyptus globulus,43.516539,-5.270636,157.00
2,Eucalyptus,Eucalyptus globulus,42.567851,-8.873670,80.38
3,Eucalyptus,Eucalyptus globulus,42.928194,-8.113348,489.00
4,Eucalyptus,Eucalyptus globulus,42.889623,-8.571294,393.00
5,Eucalyptus,Eucalyptus globulus,43.714230,-7.611280,NaN
...,...,...,...,...,...
178936,Eucalyptus,Eucalyptus camaldulensis,28.110870,-16.578650,530.00
178937,Eucalyptus,Eucalyptus camaldulensis,28.117600,-16.587020,705.00
178944,Eucalyptus,Eucalyptus globulus,39.779999,2.700000,1.00
178945,Eucalyptus,Eucalyptus globulus,39.770000,2.700000,1.00
178947,Eucalyptus,Eucalyptus globulus,42.040000,-1.510000,NaN

Lo siguiente, será transformarlo a geodato para poder extraer solo aquellos que se encuentran dentro del shapefile de Cantabria

In [58]:
from shapely.geometry import Point
from pyproj import CRS

eucpoints_tabla.loc[:, "geometry"] = eucpoints_tabla.apply(
    lambda row: Point(row["decimalLongitude"], row["decimalLatitude"]), axis=1
)

crs = CRS("EPSG:4326")
gdf = gpd.GeoDataFrame(eucpoints_tabla, geometry="geometry", crs=crs)

print(gdf.head())
print(gdf.crs)  # Verificar que el sistema de coordenadas es correcto

CRSError: Invalid projection: EPSG:4326: (Internal Proj Error: proj_create: no database context specified)